
// Primary

$Pale_blue: hsl(225, 100%, 94%);
$Bright_blue: hsl(245, 75%, 52%);
// Neutral
$Very_pale_blue: hsl(225, 100%, 98%);
$Desaturated_blue: hsl(224, 23%, 55%);
$Dark_blue: hsl(223, 47%, 23%);

//Body-Copy

$Font_size_p: 16px;

// border-Raduis 
$border_R:15px;